@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Srisakdi:400,700');

.back-color {
    background-color: #90EE90 !important;
}

.money-color {
    background-color: #46C646 !important;
}

.daily-color {
    background-color: #FFD700 !important;
}

.button-font {
   color: black;
}

.motivational-color {
    background-color: #FF0000 !important;
}

.for-footer {
    padding-top: 60px;
    bottom:0;
}

.btn-padding {
    padding: 20px;
}

.fixed-margins {
    margin-left: auto !important;
    margin-right: auto !important;
}

td {
    text-align: center;
    display: block;
}

table {
    margin: 0 auto;
}

.table-div {
    text-align: center;
    background: black;
}

.centred-content {
    position: relative;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 35px;
    font-family: 'Srisakdi', cursive;
}

.author {
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

.quote-pad {
    padding-top: 12px;
}

.author-pad {
    padding-top: 5px;
    padding-bottom: 12px;
}
